#shipDiv{
    height: 50px;
    width: 100%;
    text-align: center;
    margin-top: -20px;
    background-color: #ff7451;
    padding-top: 3px;    
}
.free{
    font-size: 17px;
    font-weight: 800;
}
#offers{
    color: white;
   font-family: sans-serif;
    font-size: 17px;
    line-height: 17px;
    margin-top: 20px;
}
#logoDiv{
    height: 100px;
    display: flex;
}
#logo{
    height: 100%;
    width: 200px;
 margin-left: 60px;
}
#logoimg{
    height: 100%;
    width: 100%;
}
#searchlogo{
    height: 50%;
    width: 30px;
    
}
#box1{
    height: 50px;
    text-align: center;
    background-color: coral;
    color: white;

}

#box1>p{
cursor: pointer;
padding: 15px;
font-family: Verdana, Geneva, Tahoma, sans-serif; 
letter-spacing: 1px;
}
#box2{
    display: flex;
    grid-gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;       
 }
    #box2>p{
        margin-top: 50px;
        margin-left: 30px;
        font-size: 20px;
        color: teal;
    }
    #box3{
        align-items: center;
        width: 100%;
        height: 400px;
        background-position: center center;
        background-repeat: no-repeat;
        text-align: center;
        color: white;
        background-size: cover;
        border: 1px solid transparent;
        font-family: Arial, Helvetica, sans-serif;
        background-image: url("https://i.shgcdn.com/f95290db-d02e-433c-9564-4766788d684c/-/format/auto/-/preview/3000x3000/-/quality/lighter/");
    }
    #box3>h2{
        color: white;
        font-size: 50px;
        font-weight: normal;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 200px;
        margin-bottom: 0;
    }
    #box3>h2>span{
      font-weight: bold;
      font-size: 50px;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
    }
    #btn{
        display: flex;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 30PX;
        margin-top: 20PX;
    }

    #btn>div{
        cursor: pointer;
        background-color: transparent;
         padding: 30px 60px;
         border: transparent;
        font-size: 17px;
        color: teal;
        border-bottom: 1px solid coral;
        
    }
    #social1{
        /* height: 650px; */
        display: flex;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #social1>div{
        width: 47%;
        text-align: left;
        padding: 10px;
        letter-spacing: 1px;
        margin-left: 2%;
        
    }
   
    #social2{
        display: flex;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        /* height: 400px; */
    
    }
    #social2>div{
        width: 47%;
        text-align: left;
        padding: 10px;
        letter-spacing: 1px;
        margin-left: 2%;
    }
    #social3>div{
        width: 47%;
        text-align: left;
        padding: 10px;
        letter-spacing: 1px;
        margin-left: 2%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }
    #social4>div{
        width: 47%;
        text-align: left;
        padding: 10px;
        letter-spacing: 1px;
        margin-left: 2%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }
    #social5>div{
        width: 47%;
        text-align: left;
        padding: 10px;
        letter-spacing: 1px;
        margin-left: 2%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }
    #service{
        color: white;
        background-color: teal;
    }
    h2{
       color: teal; 
    }
.main-nev{

	float: right;
	margin-top: 35px;
}
.main-nev li{

	display: inline-block;
	list-style: none;
	margin-left: 25px;
	
}.main-nev li a{
	padding: 40px 0;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
color: #70756d;
font-weight: 100%;

}
.main-nev li a:hover{
	border-bottom: 4px solid  #a3b49b;
    color: #a3b49b;
}
.iconDiv{
    margin-left: 50%;
    color: #a3b49b;
    font-size: 25px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.underIcon{
    display: flex;
    height: 30px;
    line-height: 0px;
    background-color: #f7f8fa;
    padding-left: 65px;
    font-family: Arial, Helvetica, sans-serif;
    color: #686d65;
    
}
.tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgb(44, 42, 42);
    color: #fff;
    font-size: 15px;
    text-align: center;
    padding: 5px 0;
    width: 80px;
    top: 70%;
    margin-left: -60px;
    position: absolute;
    z-index: 1;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 150px;
    right: 110px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px 20px 0px 30px;
    height: 100px;
    line-height: 25px;
  
  }
  
  .dropdown-content a {
    color: #a2aa9e;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: block;
  }
  
  .dropdown-content a:hover {
    color: #454744;
    
    }
  
  .dropdown:hover .dropdown-content {
    
    margin-top: 20px;
    display: block;
}

  .dropbtn{
      font-size: 25px;
      background-color: transparent;
      border: transparent;
    color: #a2aa9e;
  }
  #footer{
    margin-top: -15px;
    height: 350px;
    width: 100%;
    background-color: #eef2f0;
    display: grid;
    grid-template-columns: repeat(4,20%);
   grid-gap: 10px;
   justify-content: center;
}
#footer>div{
    height: 300px;
    margin-top: 40px;
    padding: 0px 10px;
}
#footer>div>p{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 35px;
    font-size: 17px;
    font-weight: 400;
    margin-top: 0px;
    color: #7d8678;
    cursor: pointer;
    margin-top: -20px;
}
.footerdiv{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 35px;
    font-size: 20px;
    font-weight: normal;
    margin-top: 0px;
    cursor: pointer;
    margin-bottom: 15px;
}

.footrtadd{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin-top: -15px;
    line-height: 15px;
    cursor: pointer;
    margin-bottom: -5px;
    color: #777777;
    padding-top: 10px;
}
.ofadd{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: -5px;
    margin-bottom: 15px;
    color: #a6baaf;
}

.ofadd:hover{
    color: #66765f;
}
#emailquery{
    color: #7d8678;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    margin-top: -10px;
    margin-bottom: 15px;
}
#emailinput{
    margin-bottom: 10px;
}
.media{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: black;
    margin-top: 0px;
}
.social_media{
    height: 20px;
    width: 250px;
    justify-content: space-between;
    display: flex;
    cursor: pointer;
}
.social_media>i{
    color: #a6baaf;;
}
i:hover{
    color: rgb(32, 31, 31);
}
.conditions{
    
    height: 150px;
    font-size: 15px;
    width: 100%;
    padding-top: 20px;
    margin: auto;
    text-align: center;
    background-color: #eef2f0;
    margin-top: -15px;
    color: #7d8678;
}
.conditionborder{
    border: rgb(162, 162, 165) 1px solid;
    padding: 15px;
    margin-bottom: 20px;
    width: 80%;
    margin-left: 9%;  
    color: #7d8678;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold; 
}
.processimg{
    height: 300px;
    width: 700px;
}
#rootsimg{
    height: 400px;
    width: 700px;
}
.scienceimg{
    height: 500px;
    width: 700px;
}
.initimg{
    height: 500px;
    width: 700px;
}