#shipDiv{
    height: 50px;
    width: 100%;
    text-align: center;
    margin-top: -20px;
    background-color: #ff7451;
    padding-top: 3px;    
}
.free{
    font-size: 17px;
    font-weight: 800;
}
#offers{
    color: white;
   font-family: sans-serif;
    font-size: 17px;
    line-height: 17px;
    margin-top: 20px;
}
#logoDiv{
    height: 100px;
    display: flex;
}
#logo{
    height: 100%;
    width: 200px;
 margin-left: 60px;
}
#logoimg{
    height: 100%;
    width: 100%;
}
.main-nev{

	float: right;
	margin-top: 35px;
}
.main-nev li{

	display: inline-block;
	list-style: none;
	margin-left: 25px;
	
}.main-nev li a{
	/* padding: 40px 0; */
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
color: #70756d;
font-weight: 100%;

}
.main-nev li:hover{
	border-bottom: 4px solid  #a3b49b;
    color: #a3b49b;
    padding-bottom:35px ;
}
#searchlogo{
    height: 50%;
    width: 30px;
    
}
.iconDiv{
    margin-left: 50%;
    color: #a3b49b;
    font-size: 25px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    cursor: pointer;
}
.underIcon{
    display: flex;
    height: 30px;
    line-height: 0px;
    background-color: #f7f8fa;
    padding-left: 65px;
    font-family: Arial, Helvetica, sans-serif;
    color: #686d65;
    
}
/*cart section */




/*cart section */
#footer{
    height: 350px;
    width: 100%;
    background-color: #eef2f0;
    display: grid;
    grid-template-columns: repeat(4,20%);
   grid-gap: 10px;
   justify-content: center;
}
#footer>div{
    height: 300px;
    margin-top: 40px;
    padding: 0px 10px;
}
#footer>div>p{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 35px;
    font-size: 17px;
    font-weight: 400;
    margin-top: 0px;
    color: #7d8678;
    cursor: pointer;
    margin-top: -20px;
}
.footerdiv{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 35px;
    font-size: 20px;
    font-weight: normal;
    margin-top: 0px;
    cursor: pointer;
    margin-bottom: 15px;
}

.footrtadd{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin-top: -15px;
    line-height: 15px;
    cursor: pointer;
    margin-bottom: -5px;
    color: #777777;
    padding-top: 10px;
}
.ofadd{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: -5px;
    margin-bottom: 15px;
    color: #a6baaf;
}

.ofadd:hover{
    color: #66765f;
}
#emailquery{
    color: #7d8678;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    margin-top: -10px;
    margin-bottom: 15px;
}
#emailinput{
    margin-top: -10px;
    height: 40px;
    width: 250px;
    margin-bottom: 20px;
}
.media{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: black;
    margin-top: 0px;
}
.social_media{
    height: 20px;
    width: 250px;
    justify-content: space-between;
    display: flex;
    cursor: pointer;
}
.social_media>i{
    color: #a6baaf;;
}
i:hover{
    color: rgb(32, 31, 31);
}
.conditions{
    
    height: 150px;
    font-size: 15px;
    width: 100%;
    padding-top: 20px;
    margin: auto;
    text-align: center;
    background-color: #eef2f0;
    margin-top: -15px;
    color: #7d8678;
}
.conditionborder{
    border: rgb(162, 162, 165) 1px solid;
    padding: 15px;
    margin-bottom: 20px;
    width: 80%;
    margin-left: 9%;  
    color: #7d8678;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold; 
}

.tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgb(44, 42, 42);
    color: #fff;
    font-size: 15px;
    text-align: center;
    padding: 5px 0;
    width: 80px;
    top: 70%;
    margin-left: -60px;
    position: absolute;
    z-index: 1;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

    
  .dropdown-content {
    display: none;
    position: absolute;
    width: 150px;
    right: 5%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px 20px 0px 30px;
    height: 100px;
    line-height: 25px;
  
  }
  
  .dropdown-content a {
    color: #a2aa9e;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: block;
  }
  
  .dropdown-content a:hover {
    color: #454744;
    
    }
  
  .dropdown:hover .dropdown-content {
    
    margin-top: 20px;
    display: block;
}

  .dropbtn{
      font-size: 25px;
      background-color: transparent;
      border: transparent;
    color: #a2aa9e;
  }
  .dropdown-shop{
    display: none;
    position: absolute;
    width: 100%;
    background-color: white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    height: 500px;
    line-height: 25px;
    left: 0;
    color: #70756d;
    }
    
    .dropdown-shop a {
    color: #70756d;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: block;
    }
    
    
    .dropshop:hover .dropdown-shop{
    margin-top: 0px;
    display: block;
    color: #a2aa9e;
    
    }
    .dropshopbtn{
    font-size: 20px;
    background-color: transparent;
    border: transparent;
    color: #656864;
    }
    
    .dropshopbtn:hover{
    color: #a2aa9e;
    }
    #main_framein_drop{
        height: 100%;
        width: 100%;
        display: flex;
    }
    #main_framein_drop>div{
        height: 100%;
        width: 50%;
        margin-left: 5%;
    }
    #main_framein_drop>div~div{
        height: 80%;
        width: 30%;
        margin-left: 50px;
        margin-top: 20px;
    }
    #contener_div{
        height: 40%;
        width: 100%;
        display: flex;
        margin-top: 40px;
    }
    #contener_div2{
        height: 45%;
        width: 100%;
        display: flex;
        margin-top: 40px;
    }
    #contener_div2>div{
        height: 100%;
        width: 30%;
        margin-left: 20px;
    
    }
    #contener_div2>div{
        height: 100%;
        width: 30%;
        margin-left: 20px;
    }
    #contener_div>div{
        height: 100%;
        width: 30%;
        margin-left: 20px;
    }
    #contener_div2>div>a{
        padding-top: 0px;
    }
    #herbalbtn2{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 10px;
    }
    #contener_div>div>a{
        padding-top: 0px;
    }
    a>h2{
        margin-bottom: 30px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 20px;
    }
    #herbalbtn{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 30px;
    }
    a>p{
        padding: -10px;
        margin-bottom: -20px;
    }
    #mainpro{
        width: 80%;
    }
     #mainpro:hover{
        transform: scale(1.1);
    }
    .main_frame{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
        margin: 40px;
        width: 100%;
        height: 400px;
        overflow: auto;
        
       }

     .prod{
         height: 200px;
         width: 90%;
         display: flex;
         border-bottom: 1px solid #a2aa9e;
         border-top: 1px solid #a2aa9e; 
       padding: 20px;
       color: rgb(0, 0, 0);
     }

     img{
        height:  100%;
        width: 20%;
        margin-left: 50px;
     }

     .text{
       display: flex;
       justify-content: space-between;
       width: 300px;
       height: 50px;
       margin-left: 100px;
       font-family: Arial, Helvetica, sans-serif;
       font-weight: bold;
       
     }
     .cart{
   height: 60px;
   width:  95%;
   border: green 2px solid;
   background-color: rgb(65, 63, 63);
   border-radius: 20px;
   margin-top: 30px;
   margin-left: 30px;
   color: rgb(255, 254, 254);
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}
#payment{
margin-top: 30px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
color: white;
text-align: center;       
}
#promoid,#chekout{
padding: 10px;
background-color: #a3b49b;
border: transparent;
color: white;
font-size: 20px;
font-weight: 200;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}
#chekout{
background-color: #a3b49b;
border: transparent;
padding: 10px 157px;
color: white;
margin-left: 30px;
margin-top: 20px;
font-size: 25px;
margin-right: 35px;
font-weight: normal;
}
#chekout:hover{
    background-color: #ffffff;
    color: #a2aa9e;
}
#inpcode,label{
padding: 10px 20px;
border-radius: 20px;
margin-right: 20px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}
label{
  padding: 0px;
  color: white;
  margin-left: 15px;
}
.cartdetails{
margin-left: 50%;
background-color:#66765f;  
padding:10px 20px;
height: 250px;
width: 600px;
margin-bottom: 50px;
}


.shoping_cart{
    text-align: center;
    font-family:  Poppins, sans-serif;
    font-weight: normal;
    margin-top: 10px;
    font-size: 36px;
    color: #333333;
}
#btndlt{
    height: 40px;
    width: 40px;
    font-size: 30px;
    color: black;
    background-color: transparent;
    border: transparent;
    margin-top: 5%;
    margin-left: 100px;
}
.brandname{
    color: #333333;
    margin-top: 25%;
    margin-left: 10%;
    font-size: 30px;
    font-weight: normal;
}
.brandprice{
    color: #a3b49b;
    margin-top: 25%;
    text-align: center;
    margin-left: 80%;
    font-size: 25px;
    font-weight: 700;
}