*{
    padding: 0px;
    margin: 0px;
   }
   .container{
       height:665px;
       width:100%;
       background-color:white;
       margin:auto

          }
 
   .bottom{

    min-height: 500px;
    align-items: center;
    width: 100%;
    height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url("https://cdn.shopify.com/s/files/1/0399/1728/9633/files/hero-desktop-ashwagandha_x720.jpg?v=1608662725 ");
       
   }
   .img_name{
    background-color: white; 
    color:black;
    font-size:1.5cm;
     padding: 20px;
      padding-left:3.5cm;
   }
#shipDiv{
height: 50px;
width: 100%;
text-align: center;
margin-top: -20px;
background-color: #ff7451;
padding-top: 10px;    
}
.free{
font-size: 17px;
font-weight: 800;
}
#offers{
color: white;
font-family: sans-serif;
font-size: 17px;
line-height: 17px;
margin-top: 23px;
}
#logoDiv{
height: 100px;
display: flex;
}
#logo{
height: 100%;
width: 200px;
margin-left: 60px;
}
#logoimg{
height: 100%;
width: 100%;
}
.main-nev{

float: right;
margin-top: 35px;
}
.main-nev li{

display: inline-block;
list-style: none;
margin-left: 25px;

}.main-nev li a{
padding: 40px 0;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
color: #70756d;
font-weight: 100%;

}
.main-nev li:hover{
border-bottom: 4px solid  #a3b49b;
color: #a3b49b;
padding-bottom:35px ;
}
#searchlogo{
height: 50%;
width: 30px;

}
.iconDiv{
margin-left: 50%;
color: #a3b49b;
font-size: 25px;
width: 130px;
display: flex;
justify-content: space-between;
margin-top: 40px;

}
.tooltip {
position: relative;
display: inline-block;
}

.tooltip .tooltiptext {
visibility: hidden;
background-color: rgb(44, 42, 42);
color: #fff;
font-size: 15px;
text-align: center;
padding: 5px 0;
width: 80px;
top: 70%;
margin-left: -60px;
position: absolute;
z-index: 1;
}
.tooltip:hover .tooltiptext {
visibility: visible;
}

.dropdown-content {
display: none;
position: absolute;
width: 150px;
right: 7%;
background-color: white;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
padding: 30px 20px 0px 30px;
height: 100px;
line-height: 25px;

}

.dropdown-content a {
color: #a2aa9e;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
display: block;
}

.dropdown-content a:hover {
color: #454744;

}

.dropdown:hover .dropdown-content {

margin-top: 20px;
display: block;
}

.dropbtn{
 font-size: 25px;
 background-color: transparent;
 border: transparent;
color: #a2aa9e;
}

.dropdown-shop{
display: none;
position: absolute;
width: 100%;
background-color: white;
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
height: 500px;
line-height: 25px;
left: 0;
color: #70756d;
}

.dropdown-shop a {
color: #70756d;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
display: block;
}


.dropshop:hover .dropdown-shop{
margin-top: 20px;
display: block;
color: #a2aa9e;
}
.dropshop:hover .dropdown-shop{

margin-top: 25px;
display: block;
}
.dropshopbtn{
font-size: 20px;
background-color: transparent;
border: transparent;
color: #656864;
}

.dropshopbtn:hover{
color: #a2aa9e;
}
#main_framein_drop{
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: -85px;
}
#main_framein_drop>div{
    height: 100%;
    width: 50%;
    margin-left: 5%;
}
#main_framein_drop>div~div{
    height: 80%;
    width: 30%;
    margin-left: 50px;
    margin-top: 20px;
}
#contener_div{
    height: 40%;
    width: 100%;
    display: flex;
    margin-top: -50px;
}
#contener_div2{
    height: 45%;
    width: 100%;
    display: flex;
    margin-top: 40px;
}
#contener_div2>div{
    height: 100%;
    width: 30%;
    margin-left: 20px;

}
#contener_div2>div{
    height: 100%;
    width: 30%;
    margin-left: 20px;
}
#contener_div>div{
    height: 100%;
    width: 30%;
    margin-left: 20px;
}
#contener_div2>div>a{
    padding-top: 0px;
}
#herbalbtn2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}
#contener_div>div>a{
    padding-top: 0px;
}
a>h2{
    margin-bottom: -10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}
#herbalbtn{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: -40px;
}
a>p{
    margin-bottom: -100px;
    padding: -10px;
}
 #mainpro:hover{
    transform: scale(1.1);
}
.productzoom:hover{
transform: scale(1.1);
margin-bottom: 20px;
}
.secondtop{
    width:100%;
    height:90px;
    background-color: white;
    border-color: black;
    color:black;
    font-size: 1cm;
    text-align: center;
    margin-top: 2.5cm;
    font-family: Arial, Helvetica, sans-serif;

}
.secondbottom{
    height:520px;
    width:100%;
    display:flex;
    background-color:white;
    border: black;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 520px;
}
.secondbottom>div{
    width:270px;
    height:520px;
    background-color:white;
   
    margin-left:50px ;
}
 .secondbottom>div>img{
     width:330px;
     height:390px;
     padding-right: 10px;
 } 
 .secondbottom>div>h{
     color:black;
     font-size: 0.65cm;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     padding-left: 55px;
     margin-top:30px;

 }
 .secondbottom>div>p{
     color:grey;
     text-align: center;
    padding-bottom:40px;
     font-size:18px;
     margin-top:10px;
    
    
 }
 .thirdtop{
     height: 60px;
     width:100%;
     background-color: white;
     color:black;
     font-size: 0.75cm;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center ;
     padding-top:40px;
  
 }
 .thirdbottom{
     height:550px;
     width:100%;
     display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 550px;
    background-color:white;
 }
 .thirdbottom>div{
      height:550px;
      width:250px;
      background-color: white;
      
      margin-left:45px;

 }
 .thirdbottom>div>img{
     height:300px;
     width:250px;
 }
 .thirdbottom>div>h{
     color:grey;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
     text-align: center;
 }

.thirdbottom>div>button{
    width: 4cm;
    height: 2cm;
    background-color: transparent;
    border: transparent;
    padding-left: 25px;
    font-size:20px;
    color:grey;
}
.fourthtop{
    height: 300px;
    width:1200px;
    background-color: rgb(209, 229, 231);
    margin-left:65px;
    display:grid;
    grid-template-rows: 300px;
    grid-template-columns: (2,20%,80%);
    grid-gap:10px;

}

.fourthtop>div{
  background-color: rgb(97, 58, 7);
  border:2px cornsilk;
}
