.main_frame{
    width: 50%;
    margin: auto;
}
#logo{
    height: 80px;
    width: 100%;
    margin-top: 40px;
}
#logo>img{
    height: 100%;
    width: 200px;
}
#path{
color: #85918a;
height: 20px;
width: 100%;
margin-top: 0;
}
#path~p{
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
#chekoutpay{
    height: 100px;
    width: 90%;
    margin: auto;
    border: 1px solid rgb(179, 179, 179);
    display: flex;
    border-radius: 10px;
    margin-bottom: 50px;
}
.payimg{
    height: 50px;
  width: 200px;
  margin-top: 25px;
  margin-left: 20px;
  background-color: transparent;
  border :transparent;
  cursor: pointer;

}
 .payimg>img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
#line{
    color:#a5a5a5;
}
.contect{
    display: flex;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    width: 90%;
}
.contect>a{
    color: #a5a5a5;
    text-decoration: none;
    margin-top: 20px;
      width: 50%;
      margin-bottom: 20px;
}
#email{
    width: 90%;
    border: 1px solid rgb(179, 179, 179);
    margin: auto;
    border-radius: 10px;
    margin-bottom: 5px;
    
}
#email>input{
    border: transparent;
    height: 50px;
    margin-left: 20px;
    width: 90%;

}
#email~p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 35px;
    margin-top: 0;
    color: rgb(116, 115, 115);
    margin-bottom: 50px;
}
#fname{
  width: 90%;
    /* border: 1px solid rgb(179, 179, 179); */
    margin: auto;
    border-radius: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
#fname>input{
     border-radius: 5px;
     border: 1px solid rgb(160, 160, 160);
    height: 40px;
    padding-left: 10px;
    width: 47%;
    margin-top: 20px;
}
.address{
    margin: auto;
    height: 45px;
    width: 88%;
    margin-top: 15px;
    border: 1px solid rgb(160, 160, 160);
    margin-left: 35px;
    padding-left: 10px;
    border-radius: 5px;
}
#country{
    height: 50px;
    margin: auto;
    width: 32%;
    margin-right: 10px;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 5px;
    color: rgb(160, 160, 160);
}
#zipdiv{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    margin-top: 20px;
}
#ZIPcode{
    height: 45px;
    width: 32%;
    padding-left: 10px;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 5px;
    color: rgb(160, 160, 160);
}
#submitbtn{
    padding: 15px 35px;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
    margin: 50px;
    background-color: #a3b49b;
    margin-left: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#submitbtn:hover{
  background-color: #838f7e;