@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

body {
  padding: 0px;
  margin: 0px;
}

#main {
  font-family: Poppins, sans-serif;
  size: 16px;
}

#offer {
  height: 25px;
  background-color: hsl(12, 100%, 65%);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 6px 0px;
  color: hsl(0, 100%, 99%);
  border: 1px solid transparent;
}

#span {
  font-weight: 800;
}

#header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  border: 1px solid transparent;
}

#leftHeader > img {
  height: 90px;
  width: 240px;
  object-fit: cover;
}

#leftHeader {
  width: 50%;
  display: flex;
  justify-content: space-around;
  border: 1px solid transparent;
}

#leftHeader > h3 {
  color: hsl(0, 1%, 41%);
  font-weight: 300;
  margin: 0px;
  padding-top: 25px;
}

#leftHeader > h3:hover {
  color: hsl(98, 12%, 48%);
  border-bottom: 3px solid hsl(98, 12%, 48%);
}

#rightHeader {
  width: 50%;
  border: 1px solid transparent;
}

#divider {
  height: 30px;
  background-color: hsl(219, 23%, 97%);
  border: 1px solid transparent;
}

#divider > p {
  text-align: left;
  margin: 5px 52px;
  font-size: 12px;
  color: hsl(0, 1%, 41%);
}

#products {
  display: flex;
}

#category {
  line-height: 28px;
  cursor: pointer;
}

#category > h3 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

#category > p {
  line-height: 10px;
  color: rgb(107, 109, 103);
  line-height: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

#category > h3:hover {
  color: hsl(98, 10%, 51%);
  font-weight: bold;
}

#category > p:hover {
  color: hsl(98, 10%, 51%);
}

#leftPart {
  margin: 100px 10px 0 140px;
  width: 18%;
  border: 1px solid transparent;
  height: auto;
}

#rightPart {
  width: 80%;
  border: 1px solid transparent;
  height: auto;
}

#rightPart > h1 {
  margin-left: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: rgb(51, 49, 49);
}

#product {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0px;
}

#product > div {
  width: 19%;
  height: auto;
  border: 1px solid transparent;
  margin: 20px;
}

#btn {
  height: 40px;
  width: 120px;
  padding: 10px;
  font-weight: 500;
  background-color: white;
  border-color: rgb(199, 198, 198);
  margin: 30px 400px;
}

#product > div > img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

#product > div > p {
  font-size: 18px;
  padding: 0px 10px;
  color: #a2aa9e;
  font-family: Arial, Helvetica, sans-serif;
}
#cart{
  color: #a2aa9e;
}
#product > div > p:hover{
  text-decoration: underline;
  cursor: pointer;
}

#product > div > div > h3 {
  margin-left: 80px;
  color: hsl(98, 10%, 51%);
  font-weight: 800;
}

#product > div > div {
  display: flex;
}

#product > div > div > button {
  height: 50px;
  width: 50px;
  background-color: hsl(101, 8%, 50%);
  border: none;
  position: absolute;
  justify-content: left;
  display: flex;
  flex-direction: row-reverse;
  color: white;
  overflow: hidden;
  align-items: center;
}

#product > div > div > button > i {
  font-size: 30px;
  color: white;
  padding: 0 15px 0 5px;
}

#product > div > div > button:hover {
  width: 180px;
}

#filter,
#filterByNum {
  font-size: 16px;
  border: none;
  margin: 0 20px 0px 0px;
  font-family: Poppins, sans-serif;
}

#first > div {
  height: 5px;
  width: 27px;
  background-color: rgb(180, 179, 179);
  margin-top: 1px;
  margin-bottom: 1px;
}

#first {
  display: flex;
  flex-direction: column;
  margin: 2px 5px;
}

#second > div {
  height: 12px;
  width: 4px;
  background-color: white;
  border: 1px solid black;
  margin: 0px 1px;
}

#second {
  display: flex;
  margin: 2px 5px;
}

#divFilter {
  justify-content: flex-end;
  margin-right: 12%;
  display: flex;
}
